<div style="display: flex; justify-content: center; align-items: center; gap: 20px; margin: 20px;">
  <button type="button" class="btn btn-primary btn-lg" [routerLink]="['/residenceUpdate']">Update residence</button>
</div>


<br>
<br>
<div class="d-flex justify-content-center">
  <div class="card" style="width: 18rem;">
    <img [src]="residenceSelected.image" class="card-img-top" alt="">
    <div class="card-body text-center">
      <p class="card-text">{{ residenceSelected.name }}</p>
      <p class="card-text">{{ residenceSelected.status }}</p>
      <button type="button" class="btn btn-outline-primary" data-mdb-ripple-init data-mdb-ripple-color="dark" routerLink="/apartmentsByresidence" >appartements list</button>
      <a (click)="nextRes()" class="btn btn-primary">Next</a>
    </div>
  </div>

</div>
